.login_page{
    display:flex;
    flex-direction:column;
    align-items: center;
    height:100vh;
    background-color:black ;
    

}

.login_logo{
    margin-top: 30px;
    margin-bottom: 15px;
    object-fit: contain;
    width:300px;
    

}
.login_container{
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
    height: 300px;
    width:23%;
    text-align: center;
    border-bottom: 1px solid rgba(231, 233, 96, 0.514);
    padding-bottom: 10px;
}
h1{
    margin-top:10px;
    text-align: left;

}
h5{
    text-align: left;
}
.login_container > form {
    
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.login_container > form > input {

    height: 30px;
    margin-bottom:30px;
    width: 97%;

}
.login_submit {
    background-color:rgb(201, 113, 6);
    border-radius: 3px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom:30px;
    border-color: rgba(250, 235, 215, 0.712);
    color: white;
}
.login_signbutton {
    background-color:rgb(201, 113, 6);
    border-radius: 3px;
    height: 30px;
    width:100%;
    margin-top: 20px;
    border-color: rgba(250, 235, 215, 0.712);
    color: white;
}
p{
    
    font-size:11px;
    text-align:start;

}

